<img src="../../predictioNN_Logo_JPG(72).jpg" width=200>

---

## Coding Assignment 2: Pandas Operations

### Introduction to Data Science
#### Last Updated: September 23, 2022

---  

### Skills Assessed

You will demonstrate these skills in the HW:
- pandas operations: subsetting
- pandas operations: creating new columns
- pandas operations: summarizing data
---

### Instructions

You will show off your pandas skills in this assignment.

Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in this Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

Google is your friend if you are stuck on how to do something. You can also refer to the Pandas documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


**TOTAL POINTS: 10**

---

### World Happiness Report  

"The World Happiness Report is a landmark survey of the state of global happiness. The first report was published in 2012. The World Happiness 2017, which ranks 155 countries by their happiness levels, was released at the United Nations at an event celebrating International Day of Happiness on March 20th."

source: Kaggle

---

You'll work with pandas dataframes so import the module

1) (1 PT) Read the happiness data into a dataframe and print the first 4 rows of data (not including the header).

2) (1 PT) Determine the unique Country values. You might need to search for the function to do this.  
   Next, sort them and print them.

3) (1 PT) Select the following columns (together) from the dataframe: `Country`, `Happiness score`  
Print the first four rows of data from these columns.

4) (1 PT) Compute the following statistics on all values of `Happiness score`:
- mean, std, min, 25%, 50%, 75%, max  
Hint: there is a function that does this.

5) (2 PTS) Create a new column in the dataframe and name it: `Happiness_high`  
It will be derived from `Happiness score` as follows:
- if `Happiness score` > 6, the value will be True
- otherwise, the value will be False

Print the first five rows of the data

Print the last five rows of the data

6) (1 PT) Print all rows from the data where `Happiness score` is greater than 5.9 and less than 6.

Run the cell below to create a new dataframe called `df_miss`.  
Its first column will contain some missing values.

In [ ]:
import numpy as np
import random

nrows = 10
ncols = 5

# set a seed for random number generation
np.random.seed(314)
# create an array filled with random data
data = np.array(np.random.rand(nrows, ncols))
# put the data to a pandas dataframe
df_miss = pd.DataFrame(data)
# rename the columns
df_miss.columns = ['col_'+str(ii) for ii in range(ncols)]

# randomly set some values to missing
ix0 = np.random.randint(nrows, size=3)
ix1 = np.random.randint(nrows, size=3)

df_miss['col_0'][ix0] = np.nan
df_miss['col_1'][ix1] = np.nan

print(df_miss)

7) (2 PTS) Impute the missing values (NaN) in `col_0` (but not `col_1`) with the median.  
Store the values in the dataframe by using the parameter `inplace`.  
Print the dataframe.

8) (1 PT) Impute the missing values in `col_1` with value 0.  
Store the values in the dataframe by using the parameter `inplace`.  
Print the dataframe.

---