<img src="../../predictioNN_Logo_JPG(72).jpg" width=200>

---

## Coding Assignment 3: Forest Fires

### Introduction to Data Science
#### Last Updated: August 20, 2022

---  

### Skills Assessed

You will demonstrate these skills in the HW:
- pandas operations: subsetting
- pandas operations: creating new columns
- pandas operations: summarizing data
- pandas operations: aggregating data
- pandas operations: lambda functions
---

### Instructions

You will show off your pandas skills in this assignment.

It uses a dataset looking at the burned area of forest fires in the northeast region of Portugal, by using meteorological and other data.

NOTE: All questions are independent. For example, if question 2 asks you to filter a dataframe, the filter is only applied for question 2.

**Data source:** https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/

### About the data columns

   1. X - x-axis spatial coordinate within the Montesinho park map: 1 to 9
   2. Y - y-axis spatial coordinate within the Montesinho park map: 2 to 9
   3. month - month of the year: "jan" to "dec" 
   4. day - day of the week: "mon" to "sun"
   5. FFMC - FFMC index from the FWI system: 18.7 to 96.20
   6. DMC - DMC index from the FWI system: 1.1 to 291.3 
   7. DC - DC index from the FWI system: 7.9 to 860.6 
   8. ISI - ISI index from the FWI system: 0.0 to 56.10
   9. temp - temperature in Celsius degrees: 2.2 to 33.30
   10. RH - relative humidity in %: 15 to 100
   11. wind - wind speed in km/h: 0.40 to 9.40 
   12. rain - outside rain in mm/m2 : 0.0 to 6.4 
   13. area - the burned area of the forest (in ha): 0.00 to 1090.84 
   (this output variable is very skewed towards 0.0, thus it may make
    sense to model with the logarithm transform). 

**TOTAL POINTS: 10**

---

You'll work with pandas dataframes so import the module

1) (1 PT) Read the fire data into a dataframe and print the first 4 rows of data (not including the header).

2) (1 PT) Determine the unique month values. Next, sort them and print them.

3) (1 PT) Create a new column called *temp_f* and append it to the dataframe.   
It will be the *temp* column converted to Fahrenheit (look up the formula).

Print the first four rows of data.  
HINT: Use a lambda function.

4) (1 PT) Select the following columns (together) from the dataframe: `day`, `month`,`area`.  
Print the rows from these columns where the area is greater than 10 and less than 10.5.

5) (1 PT) Compute the mean `area`, grouped (aggregated) by `month`.  

Print the result; it should only contain the columns: `area` and `month`

6) (1 PT) Print the datatype of each column in the dataframe. Hint: there is a function to do this.

7) (3 PTS) For this part, you will break the columns into separate lists by data type. This is often useful for preprocessing predictors in machine learning.

- Save the categorical column names in a list named `cats`
- Save the continuous variable column names in a list named `con`. These variables have float (decimal) values.
- Save the discrete variable column names in a list called `disc`. These variables have integer values.

Hint: Use what you learned from task 5. You can also use the `value_counts()` function to explore the values of a column like this:

---

8) (1 PT) Using the list `disc`, subset those columns in the dataframe and print the first four rows of those columns.

---