<img src="../../predictioNN_Logo_JPG(72).jpg" width=200>

---

### Patient Blood Pressure Analysis

### Working with Structured Data
### Introduction to Data Science

### Last Updated: 12/14/2022

In [27]:
import numpy as np
import pandas as pd

In [28]:
# set path to datafile
PATH_TO_DATA = '../datasets/blood_pressure.csv'

### Source of Data

This is synthetic blood pressure patient data.

In [29]:
df = pd.read_csv(PATH_TO_DATA)
df.head()

   patientid      date  bp_systolic  bp_diastolic
0          1  02/01/22          120          76.0
1          1  02/02/22          127          75.0
2          1  02/03/22          127          70.0
3          1  02/04/22          127          76.0
4          1  02/05/22          -20          74.0

Quickly check the datatypes and data summary.

In [30]:
df.dtypes

patientid         int64
date             object
bp_systolic       int64
bp_diastolic    float64
dtype: object

In [31]:
type(df.date[0])

str

In [32]:
df.describe()

       patientid  bp_systolic  bp_diastolic
count  99.000000    99.000000     98.000000
mean    2.595960   124.171717     75.653061
std     0.978537    16.744198      5.143512
min     1.000000   -20.000000     70.000000
25%     2.000000   122.000000     73.250000
50%     3.000000   125.000000     76.000000
75%     3.000000   128.000000     77.000000
max     4.000000   200.000000    120.000000

How many unique patients are there?

In [33]:
len(df.patientid.unique())

4

### Data Issue 1: Missingness

We notice the counts for bp_systolic and bp_diastolic are different. This suggests missing data.  
Let's check for it:

In [34]:
df[df.bp_diastolic.isnull() == True]

   patientid      date  bp_systolic  bp_diastolic
6          1  02/07/22          121           NaN

In [35]:
df[df.bp_systolic.isnull() == True]

Empty DataFrame
Columns: [patientid, date, bp_systolic, bp_diastolic]
Index: []

There are different possible methods. Here, we will use the last value carried forward.  
The assumption is that the diastolic pressure hasn't changed since the last reading.

In [36]:
df.ffill(inplace=True)

Checking for missing again, we see the record was imputed.

In [37]:
df[df.bp_diastolic.isnull() == True]

Empty DataFrame
Columns: [patientid, date, bp_systolic, bp_diastolic]
Index: []

Let's look at records around the previously missing row:

In [38]:
df.loc[5:7]

   patientid      date  bp_systolic  bp_diastolic
5          1  02/06/22          129          75.0
6          1  02/07/22          121          75.0
7          1  02/08/22          125          74.0

Notice the memory address of df will differ after assignment. This means a new df is created.

In [39]:
id(df)

2641537675616

In [40]:
df = df.astype({'bp_diastolic':np.int32})

In [41]:
id(df)

2641465449296

In [42]:
df.dtypes

patientid        int64
date            object
bp_systolic      int64
bp_diastolic     int32
dtype: object

### Data Issue 2: Extreme and Non-Sensical Values

Looking at `bp_systolic` there is a negative value and a very high value.  
Negative values cannot happen. There are different options for handling this case.  
Here, we set a rule where we replace negative values with the previous measurement.

In [43]:
df.loc[df.bp_systolic < 0, 'bp_systolic'] = np.nan
df.bp_systolic.ffill(inplace=True)

---

For patient 2, the systolic measurement on 02/01/22 is 200, which is out of line with the other values.  
This value is possible and troubling. It may not be incorrect, so we choose to leave it in place.

In [44]:
df[df.patientid == 2]

    patientid      date  bp_systolic  bp_diastolic
13          2  01/15/22        127.0            79
14          2  01/16/22        128.0            78
15          2  01/17/22        123.0            76
16          2  01/18/22        128.0            71
17          2  01/19/22        123.0            75
18          2  01/20/22        129.0            73
19          2  01/21/22        128.0            77
20          2  01/22/22        127.0            74
21          2  01/23/22        126.0            73
22          2  01/24/22        121.0            74
23          2  01/25/22        127.0            77
24          2  01/26/22        122.0            75
25          2  01/27/22        120.0            70
26          2  01/28/22        122.0            72
27          2  01/29/22        121.0            77
28          2  01/30/22        122.0            76
29          2  01/31/22        129.0            77
30          2  02/01/22        200.0           120
31          2  02/02/22        129.0            78
32          2  02/03/22        128.0            77
33          2  02/04/22        125.0            72
34          2  02/05/22        120.0            76
35          2  02/06/22        128.0            78
36          2  02/07/22        128.0            73
37          2  02/08/22        121.0            71
38          2  02/09/22        124.0            74
39          2  02/10/22        122.0            76
40          2  02/11/22        124.0            74
41          2  02/12/22        127.0            77
42          2  02/13/22        129.0            73
43          2  02/14/22        124.0            76
44          2  02/15/22        129.0            78
45          2  02/16/22        128.0            79
46          2  02/17/22        121.0            79
47          2  02/18/22        123.0            75
48          2  02/19/22        129.0            76

### Conclusions

- The data should always be carefully reviewed and validated before analysis

- We need to be thoughtful about handling missing data and extreme observations.  
For each variable, we need to think about the implications and best strategy.

---