<img src="../../predictioNN_Logo_JPG(72).jpg" width=200>

---

## Battleship using Database Tables!


### The Covenant School
### Introduction to Data Science
### Last Updated: October 26, 2022
---  

### OBJECTIVES
- Practice using database concepts while playing Battleship

### CONCEPTS
- records, fields
- creating a table
- inserting data into a table
- updating records

### GRADING
This will be graded as a homework exercise worth 10 points.  
You simply need to include from one of your games:  
- your board
- your opponent's board
- some of your SQL code

Also, answer the questions at bottom.

---

In [3]:
# import the SQLiteAPI
import sqlite3

# set database path
PATH_TO_DB = "C:/Users/apt4c/Documents/database/sqlite/stocks.db"

### I. Battleship Rules

We will play a modification of the game **Battleship** to practice database concepts.  
This is a two-player game where each player arranges ships of different sizes on a 5x5 board.  
The original game uses a 10x10 board.

<img src="./battleship_game.jpg">

The ships are arranged vertically or horizontally, and they cannot be overlapping.   
The board is not shown to the opponent.  
The players take turns guessing one coordinate pair (eg, `A4`) to locate ships.  
If the guessed coordinate is occupied by the ship, the player calls out "Hit" and marks the cell with an X.  
Each player keeps a second board representing the opponent, marking hits (X) and misses (-) as they get feedback on their guesses.  

When a ship is sunk, the player announces the ship type that has been sunk.  
The object of the game is to be the first player to guess all of the ship coordinates, sinking the ships. 

For more details about the game visit [here](https://en.wikipedia.org/wiki/Battleship_(game))

We will use these ships:

| Class of Ship      | Size |
| ----------- | ----------- |
| Carrier      | 5       |
| Battleship   | 4        |
| Submarine   | 3        |

The code below sets up a sample player board as a table,  
where 1 represents a ship position and 0 is unoccupied.

In [4]:
player_pos = [
        ('A',1,1,1,1,1), # Carrier
        ('B',0,1,1,1,1), # Battleship
        ('C',0,0,0,0,0), 
        ('D',0,0,0,0,0),
        ('E',0,0,1,1,1)] # Submarine
        
conn = sqlite3.connect(PATH_TO_DB)
cur = conn.cursor()

cur.execute('DROP TABLE player')
cur.execute('CREATE TABLE player (row text,col1 text,col2 text,col3 text,col4 text,col5 text)')
conn.commit()

cur.executemany('INSERT INTO player VALUES (?,?,?,?,?,?)', player_pos)
conn.commit()

In [5]:
for row in conn.execute('SELECT * FROM player'):
    print(row)

('A', '1', '1', '1', '1', '1')
('B', '0', '1', '1', '1', '1')
('C', '0', '0', '0', '0', '0')
('D', '0', '0', '0', '0', '0')
('E', '0', '0', '1', '1', '1')

### Deleting the Boards

You can drop a table with this command:  
```
cur.execute('DROP TABLE player')
```

### Updating the Boards

You can make updates to boards with the UPDATE statement like this:

In [6]:
# update A2 with a hit X
cur.execute('UPDATE player SET col2 = "X" WHERE row = "A"')

# show the updated table
for row in conn.execute('SELECT * FROM player'):
    print(row)

('A', '1', 'X', '1', '1', '1')
('B', '0', '1', '1', '1', '1')
('C', '0', '0', '0', '0', '0')
('D', '0', '0', '0', '0', '0')
('E', '0', '0', '1', '1', '1')

---

### Get Playing!

Let's set up your player board and your knowledge of your opponent's board.  
You can reuse the code above to play the game.  
Play a few rounds against your opponent.

**YOUR BOARD - update when you are HIT**

In [7]:
your_pos = [
        ('A',1,1,1,1,1),
        ('B',0,0,1,0,0),
        ('C',0,0,1,0,1),
        ('D',0,0,1,0,1),
        ('E',0,0,1,0,1)]
       
cur.execute('DROP TABLE you')
cur.execute('CREATE TABLE you (row text,col1 text,col2 text,col3 text,col4 text,col5 text)')
conn.commit()

cur.executemany('INSERT INTO you VALUES (?,?,?,?,?,?)', your_pos)
conn.commit()

In [9]:
# each time you make an update, you can rerun SELECT to see the update
for row in conn.execute('SELECT * FROM you'):
    print(row)

('A', '1', '1', '1', '1', '1')
('B', '0', '0', '1', '0', '0')
('C', '0', '0', '1', '0', '1')
('D', '0', '0', '1', '0', '1')
('E', '0', '0', '1', '0', '1')

In [ ]:
# for adding hits X
cur.execute('UPDATE you SET col1 = "X" WHERE row = "A"')

In [ ]:
# for resetting cell to zero (to UNDO)
cur.execute('UPDATE you SET col1 = "0" WHERE row = "A"')

**OPPONENT BOARD - update when you HIT and MISS your opponent**

In [ ]:
opp_pos = [
        ('A',0,0,0,0,0),
        ('B',0,0,0,0,0),
        ('C',0,0,0,0,0),
        ('D',0,0,0,0,0),
        ('E',0,0,0,0,0)]
        
cur.execute('DROP TABLE opp')
cur.execute('CREATE TABLE opp (row text,col1 text,col2 text,col3 text,col4 text,col5 text)')
conn.commit()

cur.executemany('INSERT INTO opp VALUES (?,?,?,?,?,?)', opp_pos)
conn.commit()

In [ ]:
# each time you make an update, you can rerun SELECT to see the update
for row in conn.execute('SELECT * FROM opp'):
    print(row)

In [ ]:
# for adding hits X
cur.execute('UPDATE opp SET col1 = "X" WHERE row = "A"')

In [ ]:
# for adding misses -
cur.execute('UPDATE opp SET col1 = "-" WHERE row = "A"')

In [ ]:
# for resetting cell to zero (to UNDO)
cur.execute('UPDATE opp SET col1 = "0" WHERE row = "A"')

---

**QUESTIONS TO ANSWER**

1) Was this fun? Why or why not?

2) For making table updates, what allows you to select specific rows and columns?