<img src="../../predictioNN_Logo_JPG(72).jpg" width=200>

---

## Creating and Working with a Relational Database

### Introduction to Data Science
### Last Updated: March 12, 2023
---  

### OBJECTIVES
- Understand basic properties of a relational database
- Differentiate between a primary key and a foreign key
- Connect to a SQLite database with Python
- Write SQL commands to:
  - create a database table
  - insert data into a table
  - select data from a table
  - apply filters to condition on data
- Write basic SQL commands directly in SQLite

### CONCEPTS
- relational database
- SQL for querying a database
- filtering on records
- primary key
- foreign key

---

### I. Getting Started with Relational Databases

Databases are a critical piece of any application, as they store the required data.

**Relational databases** separate data into tables so they meet certain properties including:
- avoiding entry of the same data into different tables (exception: using the data to join tables)
- the different tables express different attributes of the data

The tables are joined on common *fields* (also called *columns* or *attributes*).

Most databases are relational databases, as there are many benefits to this structure.

The image below shows a database with two tables:
- Customer
- Invoice

The `Customer` table contains a field named SSN. This is a **primary key**.  

A primary key:
- must have unique values to tell apart the *records* (also called *rows* or *tuples*)
- can be used to join other tables containing the primary key field(s)
- can consist of multiple fields, in which case it's called a *composite key*

<img src="./table_join.png">

Both the `Customer` and the `Invoice` tables include `ssn`, so the tables can be joined.

Note:  
A **foreign key** is a field in one table that references the primary key in another table.

`ssn` is a foreign key in the Invoice table.

Enough background info, now let's get to work!

You will work with a popular relational database management system called **SQLite**.


We will walk through creating a database and interacting with it using Python:
- creating a table
- inserting records into the table
- querying the data

---

### II. Download and Installation

Download SQLite [here](https://www.sqlite.org/download.html)

   - Windows users will install:
   `sqlite-tools-win32-x86-[some_number].zip`

   - Mac users will install:
   `sqlite-tools-osx-x86-[some_number].zip`
   
Where [some_number] is a version that changes over time. 

If the `sqlite` folder name is long, you can shorten it to `sqlite`

---

Make note of where you save the database. This is the *database path*.  

On Windows it might look something like:  

`C:\Users\apt4c\Documents\database\sqlite`
 
On a mac, it might look something like:

`/user/apt4c/Documents/database/sqlite`

mac differences:  
- you will use forward slash `/` instead of backslash `\`
- there is no drive letter
 
The example below continues with the Windows version. 
 
---

### III. Launching terminal and working with SQLite

After install, launch terminal (Windows users press `START` key and then type `CMD`)  

From terminal, change directory to the database path:

`> cd C:\Users\apt4c\Documents\database\sqlite`

where: 
- `>` is the prompt
- `cd` is the change directory command

Next you will create a database called stocks with this command:

`> sqlite3 stocks.db`

You will see something like this:  
```
SQLite version 3.39.4 2022-09-29 15:55:41  
Enter ".help" for usage hints.
```

The prompt will change to this:

`> sqlite3`

List the databases like this:

`sqlite> .databases`

You should see `stocks.db` listed.

If you look in the sqlite folder, you will see a file called `stocks.db` which stores the database.

You can interact with the database in terminal, but here we will switch to Python.

---

### IV. Working with SQLite from Python

Python has APIs for working with databases.

Here we use the SQLite API.

In [1]:
# import the SQLite API
import sqlite3

In [2]:
# create some data
stocks = [
        ('AMZN',114.56,-5.74),
        ('AAPL',146,-2.73),
        ('GOOG',2829.27,-58.20)]

In [1]:
# set path to the database; modify to match your path; use forward slashes '/' in Python
PATH_TO_DB = "C:/Users/apt4c/Documents/database/sqlite/stocks.db"

In [ ]:
# create db connection
conn = sqlite3.connect(PATH_TO_DB)

# create cursor
cur = conn.cursor()

**We start to write SQL (structured query language) statements to execute on the database.**  
Note: It is not required to write SQL commands in UPPERCASE, but it can help for readability.

Create a table in the db called "prices" and pass a schema.
The schema provides for each field:
- name
- data type
- optional attributes such as nullable, primary key

End the transaction with a commit

In [5]:
cur.execute('CREATE TABLE prices (ticker text, price real, chg real)')
conn.commit()

**NOTE:** The string inside the quotes is the SQL statement:

```
  CREATE TABLE prices (ticker text, price real, chg real)
```

Next, insert multiple records of data with `executemany()`

In [6]:
cur.executemany('INSERT INTO prices VALUES (?,?,?)', stocks)
conn.commit()

Use a SELECT statement to select all rows and columns from the price data.  
`*` instructs to take all columns  
Note this is done with a `for` loop, and each row is printed with the `print()` statement.

In [8]:
for row in conn.execute('SELECT * FROM prices'):
    print(row)

('AMZN', 114.56, -5.74)
('AAPL', 146.0, -2.73)
('GOOG', 2829.27, -58.2)

Apply a filter (condition statement) to the rows, printing all the rows where price > 200  
Filtering can be done with `WHERE`

In [10]:
for row in conn.execute('SELECT * FROM prices WHERE price > 200'):
    print(row)

('GOOG', 2829.27, -58.2)

We were selecting all columns with `*` but this isn't necessary.  
We can specify the columns that we want.

Print all the rows where price > 200. Show only ticker, price.

In [11]:
for row in conn.execute('SELECT ticker, price FROM prices WHERE price > 200'):
    print(row)

('GOOG', 2829.27)

Save the resultant dataset in a list

In [13]:
data = []
for row in conn.execute('SELECT ticker, price FROM prices WHERE price > 200'):
    data.append(row)

In [14]:
data

[('GOOG', 2829.27)]

---

**TRY FOR YOURSELF**  

1. Return to the command line to practice running SQL directly.  

1a. List all tables by running at the prompt:   
    `> .tables`  
    
1b. Write a SELECT statement that returns all records where price > 200  
    Note: You will need to end the query line with a semicolon  

---

2. Return to JupyterLab to work in Python.

2a. Create a new table called `company_info` with these fields:
- ticker (type: text)
- ceo_name (type: text)
- year_founded (type: integer)

You will populate the `company_info` table with the tickers from the `prices` table, the current CEO name, and the year the company was founded. 

2b. Run a SELECT statement to return all data from the `company_info` table.

2c. Run a SQL query with a WHERE clause to filter on a condition.

---

### V. Summary

You now know some SQL commands for working with tables.

You ran SQL directly in a SQLite terminal.

You also ran SQL with the help of the Python SQLite API.  
Python includes specialized functions for writing SQL against the database.

SQL is very powerful and the statements can grow complex.

It is also possible to join two or more tables to bring data together. We will explore this next!


---